# Ignore environment variables file
.env
chat_history.json

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

*.pem

# Ignore configuration files
config.js
